[package]
name = "cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[[bin]]
name = "cli"
path = "src/main.rs"

[dependencies]
cat = { path = "../cat" }
actor_io = { path = "../actor_io" }
actor_runtime = { path = "../actor_runtime" }
embedded-io.workspace = true
